<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-box">
                <div class="header__top-contact">
                    <div class="header__top-text">Служба поддержки:
                        <a class="header__top-link" href="tel:880012345678">8 (800) 1234-56-78</a>
                    </div>
                    <div class="header__top-text">
                        E-mail:
                        <a class="header__top-link" href="mailto:support@example.com">support@example.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__center">
        <div class="container">
            <div class="header__center-box">
                <a class="logo" href="#">
                    <img class="header__center-img" src="../images/logo.png" alt="Логотип">
                </a>
                <form class="serche" action="#" method="get">
                    <select class="serche__product" name="product">
                        <option value="1">Магазин</option>
                        <option value="2">Весь сайт</option>
                    </select>
                    <div class="form">
                        <input class="form__search" type="text" name="text" placeholder="Введите поисковую фразу">
                        <input class="form__search-btn" type="submit" name="search-btn" value="">
                    </div>
                </form>
                <div class="cart">
                    <a class="cart__link">
                        <img class="cart__img" src="../images/icons/cart.svg" alt="Cart">
                    </a>
                    <span class="cart__number">0</span>
                    <div class="cart__box">
                        <p class="cart__text">Ваша корзина</p>
                        <div>
                            <span class="cart__product">0</span> <span class="cart__product-text">товаров —</span>
                        </div>
                        <div>
                            <span class="cart__sum">0</span><span class="cart__product-text">цена</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header__bottom">
        <div class="container">
            <nav class="menu">
                <button class="menu__btn">
                    <span class="menu-burger"></span>Меню сайта
                </button>
                <ul class="menu__list">
                    <li class="menu__list-item--color">
                        <a href="#">
                            <img src="../images/icons/house.svg" alt="Home">
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Каталог
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            О сайте
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Субменю
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Блог
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Фотографии
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Контакты
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            FAQ
                        </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="#">
                            Страницы
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>