<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин мебели в Минске - Comforta</title>
    <meta name="description"
        content="Купить мебель в интернет-магазине Comforta по низким ценам. Мировые бренды качественных изделий. Доставка по Минску и всей Беларуси. Самовывоз." />
</head>

<body>
    <!-- Template tags-->
    <%= require('html-loader!./templates/header.html').default %>
        <!-- Template tags-->

        <main class="main">
            <div class="container">
                <!-- Template tags-->
                <%= require('html-loader!./templates/breadcrumbs.html').default %>
                    <!-- Template tags-->
            </div>

            <section class="goods">
                <div class="container">
                    <div class="goods__inner">
                        <div class="goods__aside shop__aside">
                            <div class="shop__aside-category">
                                <button class="shop__aside-category-btn">Категории</button>
                                <ul class="shop__aside-list">
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Диваны
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Шкафы-купе
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Стенки
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Прихожие
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Комоды и тумбы
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Люстры и бра
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Кухни
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Спальни
                                        </a>
                                    </li>
                                    <li class="shop__aside-item">
                                        <a class="shop__aside-link" href="#">
                                            Детская мебель
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="shop__aside-banner">
                                <div class="shop__aside-banner-box">
                                    <p class="shop__aside-desc">Дизайн интерьера комнаты</p>
                                    <p class="shop__aside-subtitle">Под ключ</p>
                                    <p class="shop__aside-price">39<sup>990 ₽</sup></p>
                                    <a class="shop__aside-banner-link btn">Узнать больше</a>
                                </div>
                            </div>
                        </div>
                        <div class="goods__content">
                            <div class="goods__tabs">
                                <div class="goods__tabs-control">
                                    <button
                                        class="goods__tabs-control-btn goods__tabs-control-btn--active">Описание</button>
                                    <button class="goods__tabs-control-btn">Фотографии</button>
                                    <button class="goods__tabs-control-btn ">Отзывы</button>
                                </div>
                                <div class="goods__tabs-content">
                                    <div
                                        class="goods__tabs-content-desc anim__opas goods__tabs-content-block goods__tabs--active">
                                        <p class="goods__tabs-content-desc-text">
                                            С другой стороны начало повседневной работы по формированию позиции требуют
                                            от нас анализа системы обучения кадров, соответствует насущным потребностям.
                                            Товарищи! реализация намеченных плановых заданий в значительной степени
                                            обуславливает создание существенных финансовых и административных условий.
                                            Задача организации, в особенности же новая модель организационной
                                            деятельности позволяет выполнять важные задания по разработке дальнейших
                                            направлений развития.
                                        </p>
                                        <p class="goods__tabs-content-desc-text">
                                            Задача организации, в особенности же постоянное
                                            информационно-пропагандистское обеспечение нашей деятельности влечет за
                                            собой процесс внедрения и модернизации дальнейших направлений развития.
                                        </p>
                                    </div>
                                    <div class="goods__tabs-content-foto anim__opas goods__tabs-content-block">
                                        <img src="./images/product/main-little1.jpg" alt="Товар">
                                        <img src="./images/product/main-little2.jpg" alt="Товар">
                                        <img src="./images/product/main-little3.jpg" alt="Товар">
                                    </div>
                                    <div class="goods__tabs-content-rev anim__opas goods__tabs-content-block">
                                        <p class="goods__tabs-content-rev-text">
                                            Задача организации, в особенности же постоянное
                                            информационно-пропагандистское обеспечение нашей деятельности влечет за
                                            собой процесс внедрения и модернизации дальнейших направлений развития.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="goods__box-title">С этим товаром также покупают</h3>
                            <div class="goods__box product"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Template tags-->
        <%= require('html-loader!./templates/footer.html').default %>
            <!-- Template tags-->

            <!-- Template tags-->
        <%= require('html-loader!./templates/modal.html').default %>
        <!-- Template tags-->

            <!-- Template tags-->
        <%= require('html-loader!./templates/cart.html').default %>
        <!-- Template tags-->


</body>

</html>