@import 'vars';
/* Переменные */
@import 'fonts';
/* Шрифты */
@import 'libs';
/*библиотеки*/
@import 'reset';
/* Сброс */
@import 'global';
/* Глобальные стили */

/* КОРЗИНА */

.cart-main {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color: #ededed;
    padding-top: 40px;
    box-shadow: -2px 3px 17px 0 #5A5A5A;
    transition: all .5s;

    &__text {
        font-size: 22px;
        line-height: 20px;
        color: #1a1a1a;
    }

    &__sum {
        font-size: 22px;
        line-height: 20px;
        color: #1a1a1a;
    }

    &--none {
        display: none;
    }

    &--block {
        display: block;
    }

    &__content {
        padding: 20px;
    }
}

.cart-product__box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.cart-product__img {
    min-width: 100px;
    height: 100px;
}

.cart-product__title {
    font-size: 15px;
    line-height: 18px;
    color: #1a1a1a;
    padding: 0 0 10px 20px;
}

.cart-product__price {
    display: inline-block;
    font-size: 22px;
    line-height: 20px;
    color: #1a1a1a;
    padding: 0 0 10px 20px;
}

.cart-product__items-box {
    max-width: 300px;
}

.cart__close {
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: none;
    background-image: url(../images/icons/close.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    cursor: pointer;
}

.cart__link {
    padding-top: 10px;
}

/* МОДАЛЬНОЕ ОКНО */

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.7);
    z-index: 10;
    display: none;
    top: 0;
    left: 0;

    &__btn {
        display: block;
        margin-top: 10px;
        cursor: pointer;
        background-color: rgb(69, 66, 243);
        border: none;
        color: #FFFFFF;
        padding: 3px 10px;
    }

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100%;
        padding: 30px 10px;
    }

    &__content {
        width: 320px;
        height: 300px;
        border-radius: 3px;
        background-color: #fff;
        color: #1A1A1A;
        padding: 20px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__close {
        background-color: transparent;
        border: none;
        background-image: url(../images/icons/close.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        cursor: pointer;
        width: 20px;
        height: 20px;
    }

    &__title {
        margin-bottom: 20px;
        font-size: 16px;
        color: #1A1A1A;
    }

    &.modal--active {
        display: block;
    }
}

.form-group {
    margin-bottom: 20px;
}

.label__info {
    display: block;
    margin-bottom: 5px;
}

.input-control {
    width: 100%;
}

/* HEADER */

.header {
    &__top {
        background-color: #F8F8F8;

        &-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            padding: 17px 0;
        }

        &-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-text {
            border-right: 1px solid #7A7A7A;

            &:last-child {
                border-right: none;
            }

            &:first-child {
                padding-right: 25px;
            }

            &+.header__top-text {
                margin-left: 25px;
            }
        }

        &-link {
            color: #7A7A7A;
        }

        &-menu {
            display: flex;
        }

        &-currency {
            color: #7A7A7A;
            padding-left: 20px;
        }
    }

    &__center {
        &-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 30px 0;
        }
    }

    &__bottom {
        background-color: $accent;
    }
}

.serche {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    width: 440px;
    position: relative;

    &__product {
        appearance: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        height: 44px;
        border: 0;
        border-radius: 10px;
        background-color: #ffd91c;
        padding: 0 30px 0 20px;
        background-image: url(../images/icons/arrow-down.svg);
        background-position: 80% center;
        background-repeat: no-repeat;
    }
}

.form__search {
    border-radius: 10px;
    width: 100%;
    height: 44px;
    border: 1px solid #EDEDED;
    padding-left: 125px;
    padding-right: 60px;
    outline: none;

    &-btn {
        position: absolute;
        top: 12px;
        right: 0;
        z-index: 2;
        height: 20px;
        color: #1a1a1a;
        border: none;
        border-left: 1px solid #1a1a1a;
        border-radius: 0;
        background-color: transparent;
        background-image: url(../images/icons/search.svg);
        background-position: center center;
        background-repeat: no-repeat;
        padding: 0 20px;
    }
}

.cart {
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #1a1a1a;
        color: #FFFFFF;
        border-radius: 50%;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -5px;
        left: 25px;
    }

    &__box {
        margin-left: 20px;
    }

    &__text {
        color: #1a1a1a;
        font-size: 13px;
        line-height: 18px;
    }

    &__product,
    &__sum {
        line-height: 20px;
        padding-right: 5px;
    }
}

.menu {
    padding: 10px 0;

    &__btn {
        display: none;
        background-color: #1a1a1a;
        padding: 11px 18px 11px 50px;
        border-radius: 50px;
        border: none;
        color: #FFFFFF;
        position: relative;

        &::before {
            content: url(../images/icons/burger.svg);
            position: absolute;
            top: 10px;
            left: 20px;
        }
    }

    &__list {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &-item {
            padding: 10px 18px;

            &--color {
                background-color: #1a1a1a;
                padding: 11px 18px;
                border-radius: 50px;
            }

            &+.menu__list-item {
                padding-left: 10px;
            }
        }

        &-link {
            font-family: 'Montserrat', sans-serif;
            color: #1A1A1A;
            text-transform: uppercase;
            font-size: 13px;
            line-height: 20px;
            padding: 10px 18px;
            white-space: nowrap;

            &:hover {
                color: #FFFFFF;
                background-color: #1a1a1a;
                padding: 10px 18px;
                border-radius: 50px;
                transition: all .3s;
            }
        }
    }
}

/* FIRST-SCREEN */

.first-screen {
    padding: 30px 0;

    &__inner {
        background-image: url(../images/header-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 450px;
    }

    &__item {
        max-width: 470px;
        margin-left: 70px;
    }

    &__title {
        color: $title;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 50px;
        padding-top: 70px;
    }

    &__category {
        margin-top: 30px;

        &-box {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &-item {
            width: 370px;
            height: 170px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        &-text {
            color: $title;
            font-size: 24px;
            line-height: 30px;
            margin: 35px 170px 30px 20px;
        }

        &-link {
            font-size: 13px;
            line-height: 22px;
            color: $text;
            margin: 35px 0 0 20px;
        }
    }
}

.counter {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        width: 90px;
        border-radius: 3px;
        background-color: #fff;
        box-shadow: -2px -4px 13px rgba(255, 255, 255, 0.7), 2px 4px 16px rgba(202, 206, 220, 0.7), -2px -4px 13px #FFFFFF, inset -2px -4px 10px #FFFFFF, inset 2px 4px 10px rgba(202, 206, 220, 0.7);

        &-numb {
            font-size: 36px;
            line-height: 36px;
        }
    }
}

/* HIT */

.hit {
    padding: 70px 0;
    background: #FCFAF0;

    &__title {
        @extend %title;
        margin-bottom: 55px;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        max-width: 545px;
        margin: 0 auto 38px;
    }
}

/* PRODUCT */

.product {
    display: grid;
    column-gap: 30px;

    /* display: flex;
    justify-content: space-between;
    align-items: center; */
   
    &-item {
        cursor: pointer;
        margin-bottom: 30px;

        &__content {
            display: flex;
            justify-content: space-between;
        }

        &__title {
            font-size: 15px;
            line-height: 18px;
            color: #1a1a1a;
            text-align: center;
            padding: 20px 10px 0;
        }

        &__img {
            object-fit: cover;
        }

        &:hover .product-item__link-menu {
            transform: translateY(0);
        }

        &__price {
            font-size: 22px;
            line-height: 20px;
            color: #1a1a1a;
            text-align: center;
            padding-top: 10px;
        }

        &__price-block {
            font-size: 22px;
            line-height: 20px;
            color: #1a1a1a;
            padding-top: 20px;
            padding-bottom: 20px;
        }

        &__desc {
            padding-right: 40px;
            padding-top: 75px;
        }

        &-box {
            position: relative;
            height: 397px;
            background-color: #ffffff;
            overflow: hidden;
        }

        &__btn-cart {
            background-color: transparent;
            border: none;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
        }

        &__link-menu {
            position: absolute;
            bottom: 100px;
            left: 20px;
            transform: translateY(300%);
            transition: all .3s;
        }

        &__items {
            background: #EDEDED;
            border-radius: 50%;
            margin-bottom: 7px;
            transition: all .3s;

            &:hover {
                background: #ffd91c;
            }
        }

        &__old-price {
            font-size: 13px;
            line-height: 20px;
            text-align: center;
            color: #7A7A7A;
            text-decoration: line-through;
            margin-top: 10px;
        }
    }

    &__sale-block {
        top: 75px;
        left: 420px;
        position: absolute;
        width: 36px;
        height: 18px;
        background: #1a1a1a;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 18px;
        color: #ffffff;
        cursor: help;
    }

    &__new {
        top: 75px;
        right: 20px;
        position: absolute;
        width: 36px;
        height: 18px;
        background: #ffd91c;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 18px;
        color: #1a1a1a;
        cursor: help;

        &-none {
            display: none;
        }

        &-block {
            top: 75px;
            left: 370px;
            position: absolute;
            width: 36px;
            height: 18px;
            background: #ffd91c;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            line-height: 18px;
            color: #1a1a1a;
            cursor: help;
        }
    }

    &__sale {
        top: 100px;
        right: 20px;
        position: absolute;
        width: 36px;
        height: 18px;
        background: #1a1a1a;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        line-height: 18px;
        color: #ffffff;
        cursor: help;
    }
}

/* BENEFITS */

.benefits {
    padding: 50px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        display: flex;
        transition: all .3s;

        &:hover .benefits__img {
            background-color: #ededed;
            transition: all .3s;
        }
    }

    &__img {
        background-color: $accent;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__box {
        max-width: 250px;
        margin-left: 20px;
    }

    &__title {
        font-size: 22px;
        line-height: 24px;
        color: $title;
        margin-bottom: 13px;
    }

    &__text {
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 24px;
    }

    &__link {
        font-size: 13px;
        line-height: 18px;
        background: #EDEDED;
        border-radius: 100px;
        padding: 10px 40px 10px 20px;
        position: relative;
        color: $text;

        &::after {
            position: absolute;
            content: url(../images/icons/arrow-back-btn.svg);
            top: 11px;
            right: 16px;
        }
    }
}

/* NEW-PRODUCT */

.new-product {
    padding: 70px 0;
    background: #FCFAF0;

    &__title {
        @extend %title;
        margin-bottom: 55px;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        max-width: 545px;
        margin: 0 auto 38px;
    }
}

/* BANNER */

.banner {
    padding: 70px 0;

    &__inner {
        background-image: url(../images/banner-4.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        width: 100%;
    }

    &__item {
        padding-top: 50px;
        padding-left: 70px;
        max-width: 600px;
    }

    &__title {
        font-size: 36px;
        line-height: 46px;
        color: $title;
        margin-bottom: 30px;
    }

    &__text {
        margin-bottom: 15px;
        font-size: 15px;
        line-height: 22px;
    }
}

/* INFO */

.info {
    padding: 70px 0;
    background: #FCFAF0;

    &__title {
        @extend %title;
        margin-bottom: 55px;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
        text-align: center;
        max-width: 545px;
        margin: 0 auto 38px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        max-width: 370px;
        background: #FFFFFF;

        &-box {
            padding: 20px;
        }

        &__img {
            object-fit: cover;
        }

        &__meta {
            margin-bottom: 12px;
        }

        &__meta-data,
        &__meta-name,
        &__meta-tag {
            font-size: 10px;
            line-height: 14px;
            padding-right: 10px;

            &::after {
                content: "/";
                padding-left: 10px;
            }

            &:last-child::after {
                content: "";
            }
        }

        &-title {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 14px;
            color: $title;
        }

        &-text {
            margin-bottom: 18px;
        }

        &+.info__item {
            margin-right: 10px;
        }
    }
}

/* FOOTER */

.footer {
    padding: 70px 0 30px;
    background-color: #131517;
    color: #FFFFFF;

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 10px;
            margin-bottom: 20px;

            &-text,
            &-link {
                color: #FFFFFF;
                margin-bottom: 15px;
            }
        }

        &-text {
            width: 250px;
            margin: 20px 0;
        }

        &-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }

        &-item+.footer__content-item {
            margin-left: 10px;
        }

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $text;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            transition: all .3s;

            &:hover {
                border-radius: 50%;
                background-color: #fff;
                border-color: #fff;
                transition: all .3s;

                & svg {
                    fill: $title;
                }
            }
        }
    }

    &__list {
        &-title {
            font-size: 21px;
            line-height: 22px;
            margin-bottom: 20px;
            padding-right: 10px;
        }
    }

    &__telegram {
        margin-bottom: 30px;

        &-link {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0 15px 18px;
            border: 1px solid #0CA7FF;
            border-radius: 4px;
        }

        &-name {
            padding-left: 36px;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            color: #36AAE7;
            position: relative;

            &::before {
                position: absolute;
                content: url(../images/icons/social/telegram.svg);
                top: -3px;
                left: -4px;
            }
        }

        &-chenal {
            font-size: 12px;
            line-height: 18px;
            color: #FFFFFF;
        }

        &-read {
            padding: 0 45px;
            color: #0CA7FF;
            line-height: 20px;
            font-size: 12px;
            border-left: 1px solid #0CA7FF;
        }
    }

    &__item {
        margin-bottom: 15px;
        padding-right: 10px;
    }

    &__link {
        color: #FFFFFF;

        &::before {
            content: url(../images/icons/arrow-right.svg);
            vertical-align: -4px;
        }
    }

    &__copy {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #4d4c4c;
        padding-top: 30px;

        & a {
            color: #FFFFFF;
            text-decoration: none;
        }

        &-list {
            display: flex;
            font-size: 12px;
            line-height: 14px;
        }

        &-item+.footer__copy-item {
            margin-left: 10px;
        }
    }
}

//-----------------------------------------------

/* CATALOG-PAGE */

.shop {
    padding: 47px 0;
    background: #FCFAF0;

    &__inner {
        display: flex;
    }

    &__aside {
        min-width: 270px;
        background: #FCFAF0;
        margin-right: 30px;

        &-desc {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 15px;
        }

        &-subtitle {
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 15px;
        }

        &-price {
            font-size: 48px;
            line-height: 48px;
            margin-bottom: 50px;

            & sup {
                font-size: 24px;
                line-height: 48px;
            }
        }

        &-category {
            background: #FFFFFF;
            margin-bottom: 30px;

            &-btn {
                font-size: 16px;
                width: 100%;
                line-height: 20px;
                color: #1a1a1a;
                background: #ffd91c;
                padding: 18px 40px;
                position: relative;
                border: none;
                text-align: left;
                &::before {
                    content: url(../images/icons/grid4.svg);
                    position: absolute;
                    width: 15px;
                    height: 12px;
                    top: 19px;
                    left: 17px;
                }
            }
        }

        &-item {
            padding: 12px 0 14px;
            border-bottom: 1px solid #EDEDED;
            margin: 0 20px;

            &:last-child {
                border-bottom: none;
            }
        }


        &-link {
            font-size: 13px;
            line-height: 16px;
            color: #1a1a1a;
        }

        &-banner {
            background-image: url(../images/aside-banner.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 480px;
            color: #1a1a1a;

            &-box {
                padding: 30px 20px;
            }

            &-link {
                cursor: pointer;
            }
        }
    }

    &__content {
        width: 100%;
        flex-grow: 1;
    }

    &__control {
        background: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 20px;
        margin-bottom: 30px;

        &-grid {
            display: flex;
        }

        &-btn {
            border: none;
            cursor: pointer;
            background-color: transparent;
        }
    }

    &__product {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 30px;

        &.shop__product--block {
            display: block;
        }
    }
}

/* PRODUCT-PAGE */

.goods {
    padding: 70px 0 100px;
    background: #FCFAF0;

    &__box {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px; */

        &-title {
            font-size: 22px;
            line-height: 24px;
            color: #1a1a1a;
            text-align: center;
            margin-bottom: 32px;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__content {
        max-width: 870px;
    }

    &__top {
        background: #FFFFFF;
        margin-bottom: 30px;
        padding: 20px;
        display: flex;
        justify-content: space-between;

        &-slide {
            flex-basis: 270px;
        }

        &-big {
            position: relative;
            overflow: hidden;
        }

        &-new {
            top: 5px;
            position: absolute;
            z-index: 10;
        }

        &-sale {
            top: 30px;
            position: absolute;
            z-index: 10;
        }

        &-big-img {
            object-fit: cover;
        }

        &-thumb {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &-item {
                object-fit: cover;
            }
        }

        &-content {
            flex-basis: 540px;
        }

        &-title {
            font-size: 20px;
            line-height: 22px;
            color: #1a1a1a;
            margin-bottom: 8px;
        }

        &-presence {
            display: flex;
            margin-bottom: 20px;

            &-name {
                margin-right: 5px;
            }
        }

        &-line {
            display: inline-block;

            &--orange {
                width: 5px;
                height: 8px;
                background-color: #ffd91c;
                color: #ffd91c;
                border-radius: 5px;
                margin-left: 1px;
            }

            &--grey {
                width: 5px;
                height: 8px;
                color: #7A7A7A;
                background-color: #7A7A7A;
                border-radius: 5px;
                margin-left: 1px;
            }
        }

        &-text {
            margin-bottom: 15px;
        }

        &-item {
            margin-bottom: 3px;
        }
    }

    &__item-price {
        display: flex;
        align-items: baseline;
        margin-bottom: 25px;

        &-old {
            text-decoration: line-through;
            margin-right: 5px;
            font-weight: 400;
            font-size: 13px;
            line-height: 22px;
        }

        &-new {
            font-weight: 500;
            font-size: 22px;
            line-height: 22px;
            color: #1a1a1a;
        }
    }

    &__form {
        margin-bottom: 15px;
        &-box {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }

        &-btn-bye {
            background-image: url(../images/icons/cart-goods.svg);
            background-repeat: no-repeat;
            background-position: 15px center;
            padding: 10px 20px 10px 37px;
            background-color: #ffd91c;
            border-radius: 100px;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #1a1a1a;
            cursor: pointer;
            border: none;
        }

        &-btn-one {
            background-image: url(../images/icons/click.svg);
            background-position: 15px center;
            background-repeat: no-repeat;
            padding: 10px 20px 10px 37px;
            background-color: #EDEDED;
            border-radius: 100px;
            font-family: 'Montserrat', sans-serif;
            font-size: 13px;
            color: #1a1a1a;
            cursor: pointer;
            border: none;
            margin-left: 5px;
        }

        &-btn-like {
            background-image: url(../images/icons/heart.svg);
            background-position: center center;
            background-repeat: no-repeat;
            width: 50px;
            height: 40px;
            background-color: #EDEDED;
            border-radius: 40px;
            cursor: pointer;
            border: none;
            margin-left: 5px;
        }
    }

    &__tabs {
        margin-bottom: 70px;
        background-color: #FFFFFF;

        &-control {
            background-color: #FCFAF0;

            &-btn {
                padding: 0 20px;
                color: #1a1a1a;
                font-size: 15px;
                line-height: 50px;
                border: none;
                background-color: #FCFAF0;
                cursor: pointer;

                &--active {
                    background-color: #FFFFFF;
                    cursor: default;

                    &:hover {
                        background-color: #FFFFFF;
                    }
                }

                &:hover {
                    background-color: #ffd91c;
                    transition: all .3s;
                }
            }
        }

        &-content-desc {
            padding: 20px;
        }

        &-content-foto {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 20px;
        }

        &-content-rev {
            padding: 20px;
        }
    }
}

/* МЕДИА-ЗАПРОСЫ */
@import 'media';
